.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigation{
        @media screen and (max-width: 800px){
            position: absolute;
            top: 110px;
            right: 0;
            background-color: #fff;
            padding: 20px;
            flex-direction: column;
            width: 100vw;
            transform: translateX(-200%);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.005, 1);
            text-align: center;
            z-index: 5;
        }
        width: auto;
        position: static;
        flex-direction: row;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 30px;
        padding-right: 30px;
    }

    &__logo{
        img{
            width: 100%;
            max-width: 220px;
            height: auto;
        }
    }

    .custom-logo {
        max-width: 220px;
        height: auto;
    }
}

/*Rendre invisible le checkbox */
#maCheckbox {
    display: none;
}

@media screen and (max-width: 800px){
    .entete__recherche {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    
        form {
          width: 80%; /* Peut être ajusté selon le résultat */
          max-width: 400px; /* Limite la largeur du champ */
          display: flex;
          border: 1px solid #ccc;
          border-radius: 5px;
          overflow: hidden;
        }
    
        input[type="search"] {
          flex: 1;
          padding: 10px;
          border: none;
          outline: none;
        }
    
        input[type="submit"] {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 0 15px;
          cursor: pointer;
    
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    // Menu Burger
    .trait {
        top:0;
        right: 0;
        background: black;
        width: 30px;
        height: 2px;
        margin-bottom: 10px;
        transition: 0.2s;
    }

    /* background pour le label */
    label {
        background-color: white;
        width: 30px;
        height: 26px;
        display: block;
        z-index: 6;
    }

    /*Translation rotation et transition du 1er trait */
    #maCheckbox:checked ~ label .trait:nth-of-type(1) {
        transform: translateY(12px) rotate(45deg);
        transition: 0.2s;
    }

    /*Translation rotation et transition du 3eme trait */
    #maCheckbox:checked ~ label .trait:nth-of-type(3) {
        transform: translateY(-12px) rotate(-45deg);
        transition: 0.2s;
    }

    /*Transition du 2eme trait */
    #maCheckbox:checked ~ label .trait:nth-of-type(2) {
        transform: scale(0);
        transition: 0.2s;
    }

    #maCheckbox:checked ~ .entete__navigation {
        transform: translateX(0);
    }
}
