/*
----------------Layout du pied de page 
*/
footer{
    // background-color: rgb(236,136,13);
    color: black;
    

}

.piedpage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__s1{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
    &__externe{
        flex: 1 0 20%;
        & .menu{ //ul
            display: flex;
            flex-direction: column;
        }
    }
    &__adresse{
        flex: 1 0 40%;
        &__coord{
            padding: 20px;
        }
        &__recherche{
            padding: 20px;
        }
    }
    &__description{
        flex: 1 0 400px;
    }

    &__mission{
        flex: 1 0 30%;
    }
  }

  &__s2{
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

}