.hero{
    position: relative;
    // background-image: url("images/maldives.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    &__caroussel{
        position: absolute;
        min-height: 100vh;
        width : 100%;
        background-position: center;
        z-index: -1;

    }
    &__button{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
        border: 1px solid cyan;
        border-radius: 5px;
        background-color: cyan;
        
    }

    &__contenu{
        z-index: 9;
    }
}