/*
    bouton-categorie.scss
*/
.categorie__ul{
    display: flex;
    gap: 5px;
    list-style-type: none;
    cursor: pointer;

    &__li{
        border: 1px solid #aaa;
        background-color: #007bff;
        border-radius: 4px;
        padding: 15px;
        color: white;
        text-align: center;

        &:hover{
        background-color: #0056b3;
        transform: translateY(-2px);
        }

    }
}

.categorie__ul__li.active{
    background-color: #0056b3;   
}
