.carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    &--grande {
      flex: 1 1 250px;
      margin: 20px;
    }
  
    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }
  
    &__contenu {
      padding: 20px;
      background-color: aliceblue;
      flex-grow: 1;
  
      &__titre {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 0 10px;
        color: #333;
      }
  
      &__description {
        font-size: 1rem;
        color: #555;
        line-height: 1.5;
        margin-bottom: 15px;
      }
  
      p {
        font-size: 0.9rem;
        color: #777;
      }
    }

    &__bouton {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease, transform 0.2s ease;
      margin-right: 10px;
      margin-bottom: 10px;
      
      &:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
      }

    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    & .post-categories{
      
      display: flex;
      justify-content: space-around;
      list-style-type:none ;
      
      li{
        border-radius: 4px;
        text-decoration: none;
        color: white;
        padding: 15px;
        background-color: #007bff;
      }
      
    }
}